body {
    background: #8E90A4;
    font-family: ubuntu,sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 100vh;
    padding: 0rem;
    gap: 2rem;
}

#top {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 50%;
    width: 100%;
}

h1 {
    font-size: 4rem;
    text-shadow: 3px 3px 10px black;
}

button {
    border-radius: .5em;
    height: 4rem;
    width: 10rem;
    background-color: #BC81BF;;
    color: white;
    font-size: 1.3rem;
    text-shadow: 3px 3px 10px black;
    box-shadow: 3px 3px 8px black;
}

#buttonHouse {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
}

#gameDisplay {
    margin-top: 1rem;
    font-size: 2rem;
    text-shadow: 3px 3px 10px black;
}

#middle {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

#board {
    display: grid;
    grid-template-columns: 10rem 10rem 10rem;
    grid-template-rows: 10rem 10rem 10rem;
    border-style: solid;
    border-color: #BC81BF;
    background-color: #DBDBDB;
    box-shadow: 3px 3px 10px black;
}

.tile {
    display: flex;
    border: .2rem solid #BC81BF;
    justify-content: center;
    align-items: center;
    font-size: 8rem;
    text-shadow: 3px 3px 10px black;
}

#footer {
    height: 2%;
    width: 100%;
    background-color: #BC81BF;
    text-align: center;
    font-size: 1.5rem;
    padding: 1rem;
    margin-bottom: 0;
    box-shadow: 3px 3px 10px black;
}